.cb-container {
  padding: 0 .5rem 0 .5rem;
}

.cb-heading {
  color: #0075C4;
}

.cf-message {
  font-size: 16px;
  margin: 0 0 1rem 1.5rem;
}

.cf-form {
  margin: 0 1rem 0 1rem;
}

.cf-textarea {
  width: 100%;
  margin: 0 0 1rem 0;
}

.cf-comment-body-error {
  font-size: 16px;
  font-weight: bold;
  color: #fe5e41;
}

.cf-btn-post-comment {
  margin: 0 0 1.5rem 0;
  padding: .5rem 0 0 0;
}

.cb-comment-container {
  margin: 0 1rem 0 1rem;
}

.cb-comment-count {
  color: #AE8E1C;
  margin: 0 0 1rem 1.5rem;
}

.cb-btn-show-hide-comments {
  margin: 0 0 .5rem 0;
}

.cb-hr {
  margin: 1.5rem 0 1.5rem 0;
  border-bottom: 1px solid #bfedb9;
}

.cb-gravatar {
  float: left;
  margin: 0 .5rem 0 0;
}

.cb-author-date {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.cb-date {
  color: #AE8E1C;
  white-space: nowrap;
}

.cb-comment {
  background-color: #eeeeee;
  margin: 1rem 0 0 0;
  padding: 1rem 1rem .5rem 1rem;
}

pre {
  white-space: pre-wrap;
}

.field-required:before {
  content: '*';
  color: red;
  padding-right: 5px;
}

.form-text-error {
  font-size: large;
  color: #fe5e41;
}

.event-summary {
  color: #f2b1ef;
  font-weight: normal;
}

@media (max-width: 575.98px) {
  .event-summary {
    font-size: large;
    height: 150px;
  }
}

.event-start-light {
  color: green;
  font-weight: normal;
}

@media (max-width: 575.98px) {
  .event-start-light {
    font-size: 1rem;
    height: 150px;
  }
}

.event-start {
  color: rgba(160, 255, 123, 0.62);
  font-weight: normal;
}

@media (max-width: 575.98px) {
  .event-start {
    font-size: 1rem;
    height: 150px;
  }
}

.event-start-light {
  color: #81C14B;
  font-weight: normal;
}

@media (max-width: 575.98px) {
  .event-start-light {
    font-size: 1rem;
    height: 150px;
  }
}

.event-amp {
  color: #878787;
}

.event-amp-light {
  color: #000000;
}

.event-end {
  color: red;
}

.event-info {
  margin: .5rem 0 0 0;
}

.event-all-day-label {
  font-size: large;
  padding-left: .25rem;
}

.event-card-animation {
  -webkit-animation-duration: 1250ms;
  -webkit-animation-delay: 100ms;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 1250ms;
  -moz-animation-delay: 100ms;
  -moz-animation-iteration-count: 1;
}

.event-type-btn-animation {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 200ms;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 200ms;
  -moz-animation-iteration-count: 1;
}

.event-card {
  margin: 0 1rem 3rem .5rem;
  background-color: #000000;
}

@media (max-width: 575.98px) {
  .event-text {
    height: 160px;
    font-size: xx-small;
  }
}

@media (min-width: 768px) {
  .event-text {
    height: 100px;
    font-size: medium;
  }
}

@media (min-width: 992px) {
  .event-text {
    height: 70px;
    font-size: large;
  }
}

@media (min-width: 1200px) {
  .event-text {
    height: 100px;
    font-size: large;
  }
}

.event-map {
  width: 300px;
  height: 225px;
}

@media (min-width: 576px) {
  .event-map {
    width: 500px;
    height: 375px;
  }
}

@media (min-width: 768px) {
  .event-map {
    width: 600px;
    height: 450px;
  }
}

@media (min-width: 992px) {
  .event-map {
    width: 600px;
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .event-map {
    width: 600px;
    height: 450px;
  }
}

